<!-- main menu -->
<div class="container py-3 py-lg-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-menu">

    <button class="navbar-toggler ml-auto hidden-sm-up float-xs-left" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="/meetups">Meetups</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="/submit">Submit a Talk</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

      </ul>
    </div>

  </nav>
</div>
<!-- end main menu -->